<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>11/14 실습41</title>
</head>
<body>
    <h1>실습 41. Session 연습</h1>
    <% if(isLogin){%>
    <div><%= user %>님 환영합니다</div><br>
    <a href="/logout">로그아웃</a>
    <% }else{ %>
    <a href="/login">로그인</a>
    <% } %>
</body>
</html>